[TRACE]
BUILDFILE = /disk1/ryotta205/GEM5-NVMain/gem5/build/X86/gem5.fast
CONFIGFILE = /disk1/ryotta205/GEM5-NVMain/gem5/configs/example/se.py
BENCHDIR = /disk1/ryotta205/benchmark/SPEC_2006/

[BENCHMARK]
mcf : inp.in
lbm : 3000 reference.dat 0 0 100_100_130_ldc.of
soplex : -s1 -e -m45000 pds-50.mps > soplex.ref.pds-50.out 2> soplex.ref.pds-50.err
milc : <su3imp.in
libquantum : 1397 8
omnetpp : omnetpp.ini
bwaves : bwaves.in
gcc : 166.i -o 166.s
sphinx3 : ./ctlfile . args.an4
GemsFDTD : 
leslie3d : <leslie3d.in
cactusADM : benchADM.par
zeusmp : 
bzip2 : chicken.jpg 30
xalancbmk : -v t5.xml xalanc.xsl

[BUILDOPT]
--outdir : /disk1/ryotta205/GEM5_script/out
--stats-file : 

[CONFIGOPT]
--num-cpu  : 1
#--cpu-type : TimingSimpleCPU
--cpu-type : AtomicSimpleCPU
--sys-clock : 1GHz
--cpu-clock : 3GHz
--mem-type : NVMainMemory
#--mem-channels : 1
#--mem-ranks : 2
--mem-size : 4GB
#--enable-dram-powerdown : 
--caches : 
--l2cache : 
--num-l2caches : 1
--l1d_size : 32kB
--l1i_size : 32kB
--l2_size : 1MB
--l1d_assoc : 8
--l1i_assoc : 8
--l2_assoc : 16
--cacheline_size : 64

--checkpoint-at-end : 

--maxinsts : 10000000000
#--checkpoint-restore : 1
#--checkpoint-dir : 

#--maxinsts : 500000000
#--maxinsts : 10000
--nvmain-config : /disk1/ryotta205/GEM5-NVMain_script2/NVMain_config/myconfig/PCM_400MHz_4GB_2KBbf.config
